@include element('footer-block') {
  &, * {
    @include box-sizing(border-box);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px rgba(0,0,0,0.1);
    .mx-focus, :focus {
      outline: none;
      @include no-text-decoration();
    }
  }
  background: $color-bottom-background;
  color: $color-bottom-font;
  width: 100%;
  font-family: $font-family;
  padding: 3rem 0 0 0;
  @include mq(sm, max) {
    padding-top: 0;
  }
  @include element('row') {
    @extend %clearfix;
    margin-bottom: 1rem;
    &:last-child {
      padding-top: 2rem;
      padding-bottom: 3rem;
      margin-bottom: 0;
      background: $color-bottom-blue-secondary;
      @include mq(sm, max) {
        padding-top: 1rem;
        padding-bottom: 2rem;
      }
    }
    @include modifier('links') {
      display: table;
      @include mq(sm, max) {
        display: none;
      };
    }
  }
  @include element('bottom-links') {
    color: $color-bottom-light-blue-second;
    font-size: $font-size;
    a, div {
      &, &:active, &:visited {
        text-decoration: none;
        color: $color-bottom-light-blue-second;
        outline: 0;
        font-size: $font-size;
      }
    }
    .copyright {
      @include element('block') {
        display: inline;
        @include mq('tablet-small', max) {
          display: block;
          margin-bottom: 7px;
        }
      }
      @include element('delimiter') {
        display: inline;
        @include mq('tablet-small', max) {
          display: none;
        }
      }
    }
    @include mq(sm, max) {
      text-align: center;
      margin-bottom: 1rem;
    };
  }
  @include element('col') {
    float: left;
    @include modifier('left') {
      width: 60%;
      @include mq(sm, max) {
        width: 100%;
        @include clearfix();
      };
    }
    @include modifier('right') {
      width: 40%;
      @include mq(sm, max) {
        width: 100%;
        @include clearfix();
      };
    }
  }
  @include element('social-media') {
    display: block;
    width: 267px;
    height: 26px;
    float: right;
    margin: 5px 0 0;
    @include mq(sm, max) {
      float:none;
      margin: 0 auto;
    };
    &-icon {
      display: block;
      width: 24px;
      height: 24px;
      float: left;
      margin: 0 26px 0 0;
      &:last-child {
        margin: 0;
      }
      background-repeat: no-repeat;
      @include opacity($opacity-footer-icon);
      @include transition(opacity .25s ease-in-out);
      @include modifier('github') {
        background-image: url('../../resources/img/footer/git.svg');
        background-position: 0 1px;
        margin: 0 29px 0 0;
      }
      @include modifier('twitter') {
        background-image: url('../../resources/img/footer/twitter.svg');
        background-position: 0 2px;
      }
      @include modifier('linkedin') {
        background-image: url('../../resources/img/footer/linkedin.svg');
        background-position: 1px 1px;
      }
      @include modifier('google-plus') {
        background-image: url('../../resources/img/footer/googleplus.svg');
        background-position: 0 0;
      }
      @include modifier('instagram') {
        background-image: url('../../resources/img/footer/instagram.svg');
        background-position: 0 0;
      }
      @include modifier('facebook') {
        background-image: url('../../resources/img/footer/fb.svg');
        background-position: 0 0;
        width: 13px;
      }
      &:hover {
        @include opacity(1);
      }
    }
  }
  @include element('link-col') {
    display: table-cell;
    width: 17%;
    &:first-child {
      a {
        &, &:active, &:visited {
          color: $color-bottom-light-blue-second;
          font-weight: 600;
        }
      }
    }
  }
}
