@include element('headerlink') {
  $headerlink:&;
  font-size: $font-size;
  padding: 0;
  // @include mq(sm, min) {
  //   padding: 0 10px;
  // }
  // @include mq(md, min) {
  //   padding: 0 17px;
  // }
  //@include mq(sm, min) {
    //padding: 0;
    //padding: 0 13px;
  //}
  //@include mq(md, min) {
  //  padding: 0;
  //  //padding: 0 17px;
  //}

  //line-height: $height-top-bar-inside + $logo-text-correction;
  //height: $height-top-bar-inside;
  color: $color-font-darker-grey!important;
  vertical-align: middle;
  position: relative;
  @include mq(sm, max) {
    line-height: $font-size;
    padding: 0 0 0 20px;
    border-bottom: 1px solid $color-submenu-border;
    z-index: 9999;
    height: auto;
  }
  @include element('head') {
    $root:&;
    position: relative;
    &, &:active, &:visited {
      @include no-text-decoration();
      color: $color-font-darker-grey!important;
      @include transition(color 0.15s);
      outline: 0;
      font-size: $font-size;
      cursor: default;
      display: block;
      //height: $height-top-bar-inside;
      //line-height: $height-top-bar-inside + $logo-text-correction;
      position: relative;
      @include mq(sm, max) {
        height: auto;
        line-height: 1;
      }
    }
    @include modifier('is-link') {
      cursor: pointer;
    }
    @include modifier('has-sub') {
      @include mq(md, max) {
        max-width: 300px;
      }
      @include mq(sm, min) {
         &:after {
           line-height: 1;
           position: absolute;
           top: 6px;
           right: -12px;
           display: block;
           width: 14px;
           height: 10px;
           content: "";
           background: url('../../resources/img/header/gray-down.svg') 0 0 no-repeat;
           transform: rotate(-90deg);
         }
      }
    }
    @include modifier('is-top') {
      //line-height: $height-top-bar-inside + $logo-text-correction;
      //height: $height-top-bar-inside;
      //color: $color-font-darker-grey!important;
      @include mq(sm, min) {
        padding: 0 13px;
        line-height: $height-top-bar-inside + $logo-text-correction;
        height: $height-top-bar-inside;
        &:after {
          display: none;
        }
      }
      @include mq(md, min) {
        padding: 0 17px;
      }
    }
    @include mq(sm, max) {
      padding: 21px 20px 21px 0;
      display: block;
    }
    @include modifier('on') {
      &, &:active, &:visited, &:hover {
        color: $color-mx-blue!important;
      }
      @include mq(sm, min) {
        &.mx-developer__headerlink__head--has-sub:after {
          background: url('../../resources/img/header/blue-down.svg') 0 0 no-repeat;
          display: none;
        }
      }
      @include mq(sm, max) {
        padding-bottom: 0;
      }
    }
  }
  @include element('submenu') {
    @include mq(sm, max) {
      @include transition(max-height 250ms ease, margin-top 250ms ease, visibility 150ms ease-in-out);
      overflow: hidden;
      visibility: hidden;
      padding-left: 1em;
      margin: 0;
      @include modifier('on') {
        margin: 1em 0;
      }
    }
    @include mq(sm, min) {
      @include border-radius(4px);
      @include speech-bubble(left, top);
      @include transition(opacity 150ms ease-in-out, visibility 150ms ease-in-out);
      @include box-shadow(2px 3px 3px rgba(0, 0, 0, 0.08));
      @include opacity(0);
      visibility: hidden;
      border: 1px solid $color-submenu-border;
      min-width: 200px;
      min-height: 50px;
      left: calc(100% - 7px);
      position: absolute;
      background: $color-white;
      padding: 1em;
      margin-top: -34px;
      z-index: 9999;
    }

    @include modifier('on') {
      visibility: visible;
      @include opacity(1);
    }

    @include modifier('is-top') {
      @include speech-bubble(top, left);
      margin-top: -9px;
      left: 0;
    }
  }
  @include element('linkblock') {
    list-style: none;
    padding: 0;
    margin: 0;
    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }
  }
  @include element('link') {
    line-height: 24px;
    margin: 10px 0;
    @include mq(sm, min) {
      white-space: nowrap;
    }
    a {
      &, &:active, a:visited {
        @include no-text-decoration();
        outline: 0;
        color: $color-font-darker-grey;
      }
      &:hover {
        color: $color-mx-blue;
      }
    }
    @include mq(sm, max) {
      margin-bottom: 0.5em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @include element('expand') {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 21px;
    cursor: pointer;
    @include mq(sm, max) {
      display: block;
      width: calc(100% - 320px);
    }
  }
  @include element('expand-icon') {
    display: block;
    width: 14px;
    height: 14px;
    background: url('../../resources/img/header/gray-down.svg') 2px 6px no-repeat;
    &:hover {
      background: url('../../resources/img/header/blue-down.svg') 2px 6px no-repeat;
    }
    @include modifier('active') {
      background: url('../../resources/img/header/blue-down.svg') 2px 6px no-repeat;
      transform: rotate(180deg) translate(0, 0);
    }
    @include mq(sm, max) {
      float: right;
    }
  }
}
