$menu-width: 200px;
@mixin topbutton() {
  $pad: ($height-top-bar-inside - $font-size) / 2;
  @include border-radius($top-row-height / 2);
  padding: 13px 10px;
  margin: 24px 0 0;
  @include no-text-decoration();
  text-align: center;
  font-size: $font-size;
  font-weight: normal;
  line-height: $font-size;
  white-space: nowrap;
  @include transition(background-color 250ms ease);
  margin-left: 10px;
}

@include element('profile') {
  line-height: $height-top-bar-inside;
  float: right;
  @include modifier('loading') {
    visibility: none;
  }

  @include element('start-button') {
    @include topbutton();
    float: left;
    &, &:active, &:visited {
      background: $color-button-green;
      color: #fff;
    }
    &:hover {
      background: $color-button-green-hover;
    }

    display: none;
    @include modifier('shown') {
      display: inline-block;
      @include mq(md, max) {
        margin-left: 0;
      }
    }
  }

  @include element('login-button') {
    @include topbutton();
    padding:0;
    float: left;
    border:none;
    outline:none;

    display: none;
    @include modifier('shown') {
      display: inline-block;
      @include mq(sm, max) {
        margin-left: 5px;
      }
    }
    img {
      width: 40px;
      height: 40px;
      display: block;
      float: right;
      margin: 0;
      @include border-radius(50%);
      border-width: 0;
      outline: none;
    }
  }

  @include element('avatar') {
    cursor: pointer;
    display: block;
    height: $height-top-bar-inside;
    float: left;
    position: relative;
    min-width: 95px;
    @include mq(md, min) {
      min-width: 200px;
    }
    img {
      width: 40px;
      height: 40px;
      display: block;
      float: right;
      margin: 24px 0 0;
      @include border-radius(50%);
    }
    &:hover {
      &:before {
        background: url('../../resources/img/header/blue-down.svg') 6px 0 no-repeat;
      }
    }
    &:before {
      display: inline-block;
      width: 20px;
      height: 10px;
      content: "";
      background: url('../../resources/img/header/gray-down.svg') 6px 0 no-repeat;
      right: 40px;
      top: 40px;
      position: absolute;
      @include mq(md, max) {
        display: none;
      }
    }
  }

  @include element('submenu') {
    @include border-radius(4px);
    @include speech-bubble(top, right);
    @include transition(opacity 200ms ease-in-out, visibility 200ms ease-in-out);
    @include box-shadow(2px 3px 3px rgba(0, 0, 0, 0.08));
    @include opacity(0);
    visibility: hidden;
    border: 1px solid $color-submenu-border;
    min-width: $menu-width;
    min-height: 100px;
    position: absolute;
    background: #FFF;
    margin-top: 75px;
    padding-bottom: 1em;
    right: -15px;
    line-height: $font-size;
    font-size: $font-size;
    z-index: 10000;

    $offset: 26px;
    &:before {
      right: $offset;
    }

    &:after {
      right: ($offset + 2);
      border-bottom-color: $color-profile-menu-second-bg;
    }

    @include mq(md, max) {
      right: 0px;
      $offset: 12px;
      &:before {
        right: $offset;
      }

      &:after {
        right: ($offset + 2);
      }
    }

    @include modifier('open') {
      visibility: visible;
      @include opacity(1);
    }

    @include element('link') {
      display: block;
      margin: 0 0 0 0.5em;
      padding: 0 1.5em 0 42px;
      height: $profile-link-height;
      line-height: $profile-link-height;
      background-position: left center;
      background-repeat: no-repeat;
      white-space: nowrap;
      &, &:active, &:visited {
        @include no-text-decoration();
        color: $color-font-darker-grey;
      }
      &:hover {
        @include no-text-decoration();
        color: $color-mx-blue;
      }
      @include modifier('type-platform') {
        background-image: url('../../resources/img/header/sprintr.svg');
      }
      @include modifier('type-community') {
        background-image: url('../../resources/img/header/my_profile.svg');
      }
      @include modifier('type-developer') {
        background-image: url('../../resources/img/header/acc_settings.svg');
      }
      @include modifier('type-logout') {
        background-image: url('../../resources/img/header/logout.svg');
      }
    }
  }

  @include element('display-name') {
    text-align: center;
    width: 100%;
    white-space: nowrap;
    display: block;
    padding: 1em;
    background: $color-profile-menu-second-bg;
    @include border-radius(4px 4px 0 0);
    margin-bottom: 1em;
  }

  @include element('search-button') {
    $picture-height: 24px;
    $offset: (($height-top-bar-inside - $picture-height) / 2);
    display: none;
    width: 36px;
    height: $height-top-bar-inside;
    float: left;
    margin: 0 10px;
    background: url('../../resources/img/header/search.svg') 7px $offset no-repeat;
    @include opacity(0.6);
    cursor: pointer;
    &:hover {
      @include opacity(1);
    }
  }
}
