@include element('row') {
  width: 100%;
  margin: 0 auto;
  max-width: $width-row;
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
  @include mq(md, max) {
    padding: 0 20px 0 15px;
  };
  @include clearfix();
};
