{
  "presets": [
    "es2015"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "transform-object-assign",
        "es6-promise"
      ]
    },
    "production": {
      "plugins": [
        "transform-object-assign",
        "es6-promise"
      ],
      "presets": [
        ["stage-2"],
        ["es2015", { "modules": false }],
        ["stage-0"]
      ]
    }
  }
}
