body {
    margin: 0;
}

main.has-header {
    padding-top: $height-top-bar-inside;
}

#mxHeader,
.mxHeader {
    @extend .mx-developer__header;
}

// #mxFooter,
// .mxFooter {
//     @extend .mx-developer__footer;
// }
