@import '../../node_modules/reset-css/sass/reset';
@import '../../node_modules/npm-font-open-sans/open-sans';
@import 'variables';
@import 'helpers';

* {
    box-sizing: border-box;
}

.MxFooter {
    width: 100%;
    background: #46597b;
    padding: 70px 20px 20px 15px; // mobile-first
    position: relative;
    font-family: $font-family;
    font-size: $font-size;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
    // @include mq(sm, min) {
    //     padding: 0 20px 0 15px;
    // }
    // @include mq(md, min) {
    //     padding: 0 15px;
    // }
}

.MxFooter__links {
    display: none;
    @include mq(sm, min) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 15px;
        width: 100%;
        max-width: $max-width;
        margin: 0 auto;
    }
}

.MxFooter__link-group {
    min-width: 140px;
    display: flex;
    flex-direction: column;
}

.MxFooter__link {
    text-decoration: none;
    text-decoration-line: none !important;
    font-weight: 400;
    color: #fff;
    line-height: 32px;
    display: inline-block;
    transition: color 0.2s ease;
    &:hover {
        color: #808da3 !important;
    }
}

.MxFooter__link--highlighted {
    @extend .MxFooter__link;
    font-weight: 600;
    color: #808da3 !important;
}
